@font-face {
    font-family: myFirstFont;
    src: ;
}
@font-face {
  font-family: 'Akashi';
  src: url('Akashi.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akashi';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADZwAA0AAAAAiHQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABqAAAAE8A
AABgOuuHUGNtYXAAAANcAAACcwAABLrO0NZYY3Z0IAAAB1wAAAAmAAAAJg1sFl5mcGdtAAAF0AAA
AQIAAAFzBlmcN2dseWYAAAeEAAApIAAAcvC5k5bFaGVhZAAAATAAAAA1AAAANvhj2rhoaGVhAAAB
aAAAACAAAAAkDnYHg2htdHgAAAH4AAABYgAAA8w6Vv7FbG9jYQAAMKQAAAGgAAAB6C/tS6ptYXhw
AAABiAAAACAAAAAgAwYB1m5hbWUAADJEAAACRQAABF+zguYacG9zdAAANIwAAAHkAAACgE3gyFRw
cmVwAAAG1AAAAIgAAADeWg8BtXjaY2BkYGAAYtmHYp/i+W2+MnByMIDAEb8ZE0D02a7vNf8t/hVw
mLLbAbmcDEwgUQBIhQvvAAAAeNpjYGRgYL38L5DRmOPPf4v/ThymDEARFPAZAJ4lBwoAAQAAAPMA
UgAFAAsAAgABAAAAAAAKAAACAAF3AAEAAXjaY2BmqWCcwMDKwMG0h6mLgYGhB0Iz3mUwYvjFgAQa
GBiWBzAweMH4Hj4KCiD6NxPr5X+BjMbsdoybFBgYBR2AYiw+rHeAFFAeAOMKDvAAeNqFUz1LA0EQ
nd3b++hs/AH+BcFCwcJe62AVBLHTzsIfYJUqrdimDmm0yn/QUjFgKxoUJASEyDpv5+b2Lub0YJi5
mTfvzc7epRcUHrMgsmP2M/YfZPJ7opRr2YN40/cedVhyScduFLCm8geCs2Pv4ZGHV3MjyQcuxmsP
cNqbF2QjPvo6F+ar1/LTpk7D1mMsuDgDzgHdcJ4X/xX49uvzxtgeNvXNzG+DG/Eqfd5PpfGXfti1
7DPo6Y7TCZlkzvk5tP23HdDQ9FHn3IbOHHnzKcePnB/QifKiHs7Ac2Y9fnfCh3w2pS64UEtuBJe9
UjdzAbcLXLgbNjORHjXMqLOgnzUpfY932GbFlnwry1bu847tmu0cXG0cPNdTW80d/aO/+P1N1u6z
0ucVtHKs6q9m+4x89ozWsBeY6ZR7L3dvOn5P33FvxbPEbof739jfik51/1e1fuA2BYv/R/k09wPZ
wLajAAB42u2SaVBOYRTHf+9tQaQ9leR2kSUia2UpSZIt+5a1UvZiMAYxtrENH2zZSwiTZQZZs45S
1pkyotxeMrY+iBmfmrzO+9aM0QyffHRmzvM85zz3/ubM//8AVljSKhkD5vCWSk6KH7aKnblhoO7m
VxhQ6k4Kf4/aP62wxgZbGtCQRtjRmCbY0xQHHHHCGRdcccOdZnjgiRfNZYoW+NASFV80WtGaNvjR
lna0pwP+dKQTAXSmC4F0pRvd6UFPehFEMCH0pg996UcoYfQnnAFEMJBIBhHFYKIZwlCGMZwRxDCS
UYxmDGMZx3gmMJFJTCaWKUxlGtOZIfOnsY8DHOI4pznPJS6SwxUuc5Xr5HKDm9ziDre5yz3uk08e
DyikgCc85inPmMV6lrKMFSxgCxdYyyoWsYmVwt5PNh/YwGcqWc5m3vCOCul/JJXtsl/jETtZwhre
S/WJt6xmBwmi6S72csqi70KSmcd85jCXh1IXSZYxk9ks5ivfSGQrccRLdw+H2c0RDpLBUTJJJ4uT
0j/BWc5xhmKSSGEdLyjhJdso5RXPsTZEyzeRoqbZRcS7VEyGQCVfKVBKlddWqaqr6qX6qJrqp4ao
EeoxNUvN9nX31TRFs9UcNGfNTfPSfDR/LUpLqFKqFZPJMre9+JsunDzhlChlwnFRPVRvVRVOsHAy
63GchONZx4mvMlQbhGMwfTdVmIpNmfDDvka4NcnG2NrHZwyVTDOGGIPKc8oLy2P0cr1ML9aL9FLQ
C/RcPUPf6FhpU/Xb++5jWUMsa5BUYbKH/+F1B9Srk0SrFNHM7EOcxZF48T5RXDc78UUc/K/kP1Ly
JyM+BfkAeNpdkD1OxDAQhcc4LOQGSBaSLSsUK6/oqVI4kVCaQCg8DT/SrkT2DkhpaFxwlqEzXS6G
YJKNttjGM+/N6POzE4BrEuRt+BbiC5P4+0zgr38gB/nyvEkgnNZV70m8sjhzbKwNd9LpmmRRPwaL
Oup4v4261u9vW8qKufJgF/FWE3Sh5/MpGCpRHdsd4h1zsomTzZyITNgvhP1MYMAvL527RpO8acND
oMErKj0qY3RFYxto9Mog8tbqmJTrR3+1ZL7gzKs1N5cHSheoVAQY40FZQ0OMKvI7Fp1gPDEEnBrl
YvBPTERZVEkM7TwarFGTYY01nBM93527pgsVJzW4+Qck6mvkAAB42l2PMQrCQBBFX7KJE6N2CmKj
RBBhC8XOxsp0XiSHyL1Cmr2an3UDKgPDzGN4nxnAM5JRkvtsZPYZgoYTe3asWQGVDxgvHlw5skmk
4sL552bOklq8pEikVlnUukgICvtX59ylasQm4rhJ3XzdFNKaukuiIKXFoInoj4VW8wMc2r7bPt/a
5xQRACoBLADIAOIFqgc6ASwAlgDyA+gEsAAAAAD+cAAABEwAAAXcAAEAAHjazX0LfFvVmec5917d
K+thSZZk2UR+yIptJXbih2I74ZFHISyFJMAAIWHipIAo0HZ49ck2XWgJdGAChLZ4ebVMWYZXZyEZ
WDbYge2P2Z0o7MLoV0zbbc0PSnfmF0qn2xYvLY59vd/3nXMfupJMEpgydq51fSTf853vfM//+c4J
Uxh8aXt9rzOVxVlhP0v07Wd+uBLR/UwrwQX3DF4ZvGrR5+BD+vR+xqGF4yehJUItySkGH1q/ZT8L
9i16jgVZbPXWCeZnnMWY1gOt8Mk6xqf7B5bwWKY7tiKfiXWqmcFkLJHNJHkv7zUneZHfNftmQT1c
LJpX894CX34Q3uA9RTN08CXGgNb5eb7cNwW0GmzjBLzoSD08nbmoVeFeh3u9z6KII0UcKZINGjZo
LLh663PMR0Q180wM6Irx5ear0OcebcORZ5AGcxL75domZQvxyGAjE9Cgw59hvwr0VTdVsx8fNviw
oX+Aq3nVBxffMzgzaIbhh7aJ32lex/EHo3kwltLY2thz1hPr8AF1rieGsSHsakhhQwqHIhsWYcMi
bJhgCaAmCYROwHxwySqcWJw+a4KRdb7SOAwpxepiDatwqvYzoyReI/BO1H4HPxuDd5Lw2ixfW+AT
rfITMEojP+IbycThW83DBd8G/YxnVWxVz1l9cPXcP642//0OfstO3rvzIP7gf7nD/Mpq/s0d5vU7
zUlogx/m9TvUDQfgi7fwz5u342X+8oD5S3HLP89bkGU+kIkHtL36WpqbIAhjnn95Agajs2U08DA0
a5IFBrFggqXh3TpiRlgyAwcWKonfoyVnoMiCuHxNydc2+X5Gfj6LcgevnfC6DF675e9L5OsAvKbh
dciWkyhOUdQ1iQlsSLga+rGh39XQig2trmnuwIYOV0MXNnSJeY/Ys90BagfyCwoajaLI450PCIpI
JUEB9peEyteVUODE4AJw77OYAldjSTAA/64JPwevuZIYJH5+aQnmPhvLq3DxfCyLr2p+KJ+EqY/l
Uct7eDI7lIUrA2qW7RiKrTiJD+WV2wqFmUKB7ykUxgrwNcb3XGq+WoSvscKYeQ3fQ7fKVnNS3WW+
Ovc471W2mK8qWy+91Jw0Xz1ohoqXwRfv4csO8ulDl6I8MKavBT2qA1PVwrpBHlomWD1YIjH3GtwF
6K4D7hJ01wR3rXC3rg4EQ2ONcHXBNYyCM0qN9dBYD4310FgvGuvgj5vhWgLXKnyQaGyFxlZobIVG
eOYosKts7hWcJmWhqXYUWDYsxYalYmYb4W/biegY3BnSCD3HQkyZhv79cNMEVw6ulXBh/4vg7U7x
tgE3Kbi64RqBSxvtH4hFM+2xJP7oXJHtaOGJ/OAQr9am9/COET58Eh80+OX8CvMe817F//0HH/w+
v7L899nzArkncgH1B/SifZFfbt7D4d/lyl8/qD7417N/8DSYP8zlfLtzOZw6yx+hHUyxB4F7fcgz
wUUhoGhi0eMoJNB4hwIahs9wMlhCqGNS++Ili/MhZGPIxWgdG3TB16itMXoUO0A9QeuIuhKClnqp
Q6CrUuIbUeLRY4A8ozTnUdIzQ5kkSD+6M/yebSoWlYmCGcZfCgUQ3Ul0KeZkUdtQxNdCARwMn5/X
NrIjNOZW9C7oNbWeSq/SPxAHBzIwODuobSSvwZBqeOa04QfzlhEe0Y9/i4LOyUlN0KfwgeiDQC3j
glw+jfoGpBQNvzk5kzVfO6T/pyJb8Jn+smfWiWcKFx5Hpee94Lkn8bmGv/j+6CHe43ud94pnXqru
UiZhjPUsh/bZgOdqPeMwIfB8cB2s3DULl9k9kgITMpIyUka30c3P+Kf2/1P4Zdc7d511z3fO0W4/
+5Lzfve7zZ/a+vfrisVeQTebUQ9rbwHd4KXryqIDVRotX4nhkKzZtoIFRnYQukTrJL/5dvMhvh2m
Dl7NSWWLdWc+RBydX8mXweB0dsoEcUhxzZnU8mAVWbMEV1ji/oEUWEXorVi4FLknIg4aC79DPawc
AFrDQDHOoEL8jnfGfAV112yTMq4AVXJ2GdGissVOVGTRwrBrJoIdTsFOHsVWhFyyr/kH1L8lHyr6
8tHk9A8keYYrN/LeuRsL+sPvbyvTT/S1F6Mv28/q+7ADXSoIqoyvD6MUbCFPals/P9Lid+mgm1F+
smNcqnaYSO0E0RLaNZj0Adna3uLsm8Wi2l6c3alsAd8AilQszO5UdzHUI/jxLtBmsFWoACJK8/Ch
WhSIZOL0YI9x9FbgoS5+CUS56Jsqzvxa20vywilOjrEv72cNfWKMITFGGHFD1BUV42sUXTy+G0Ir
VJsDzvRMYCyK7qVH8EInXjB6EPEiQ1Gzz4qaY53a3iPnFJUDMmaeO03dxZXnKWZehjEzhLJyfhlT
DwNfImxUxEacOuHSwetlc6QiQaqLQhmEEoX4tLDUHMtO1kUx3kcK0R5axMF3XDkANLUXYcqUA2YI
pBaFrnjkmaIwjxZtUp6uQRuNImFZ+JAdyWP/wuaL0AQpD0/VnFkDGwxXg7ShNIQA3AjxJnJBujIk
WObk3GlFjC98UzOLIfAAHXtTbZc0euY+2IfT45579DuRPpRlbI1Ib6WXzX1F3CeFgchCmxQizmKk
xoizKAUBwdlOi7Gg/0Szthc04ADwtqmgtgPl2l5tLxchEYRDvPeg8nyZvkYgHrpN5HexPpxgpDNh
h39oiWNMBUtsyW19SZjHapldOeMj3oSHVCoolRgDSSHCQpgbxIDEaCzPiSqXQSEm7b6pMLde2TL3
GCg3jEw4y8Lsm3xa6Lj6Nun4OkfHha+vmzpWXc+QrmcuVn4IPcx9wtJ26MIVhxgQ0n0TzaIOoxCZ
hE7GeBxYCuOi1CjehwPXp8fJEwSpzW9LCeYNi2zqGpGYxsqszrYBTCYnloY1So8hIw68Gm32jQjr
iJI79zP+/3jvADJxsKg8XxQBhww7vj9QANkogt8f5C8Wi17ZuFnIRr3M/ZWSiLvqo0L3UD4UmQbW
yyxJodnUp4VndeTESXvLBYfG12CPr1JAYEYsY0+iniHdLJK9L849BmnC3GPgh/cUUfDJjIDsmyGS
c5AMvgzcAM7XJ6phA8LVswqBEM6VSSmyAIG4xWgCJnrR+4OEPGr5TEX4f+hPBw0ddSIAEUAK7TKk
BagrHUVcIKIrJ6KviBC4FSUgPSJSEFRZ8UKvejPIboJ8OAyHPAkqGsTvhk9P+RrhJsu7TuErRtTR
XM70rVnDj+Rys+OplLY3941c4MfR6I8DcMMv1bsLS3QZj/M9EFNtIL7mPNyLWC6Be7hnial6eLYJ
LzD/kwir4M8KWmPwJGmQEwbvQPo6h7s7kdA8yLl6c2p2PJfjR9asMX25nHp6SjnQrZvfdVNsPqgv
YR8rluU7OixrmcSyMJpj+hrQvTTbjSiFDoqBtqVO2pYJMDo6Zar7WTPQ32rTlESakpUok2OFI9gQ
EUJVZ8s2KplBQpWUDhv9lKWCqCWLMAAWChjLJMmFqxm3QioXFtGmhJQts81qe2H2LbDN/xltNqgk
yCQYaT49u1OkN2i5mWtOMF68TcSLOCcYKVpz4SfKdOkfgnTnl7EJWk7M74yFYxQniioPAWw4pM4O
WkI0cwNyVBmZwqGJAQV/DN0OhADJYnHmHX6XebW2j+xLuT9oYBJjqqeZarBtjU5R4DgINGMNZCu1
PnTh5Gtt6uX8VLf/GAdo9LCIHQeEbY+FpMbxapRR1mBS7TAD/L1LkOyXLoFwQL0FYgHzNfNH5mt8
79Ld5kMYxJbHgUF2qkAxDVd8HEAiAjV8ZsCmRZOIkpUrSQ++C/o/IEJzjEyEDFjzv4/8dZBdKSI8
nP+QZ/41e/4Ft7SyCK8CWXXPN4bafju8CMjpRc4kspiTq28XebFA0zqFXkN7avZr3rj4AuHfdVdc
XBODlcJHsxV2ZZI14mFLoYAQ8COSR3On8T2EBzhYABly9xydJWhSbJr8pZoe1h3gVqq8oMShAjq1
SZh7zJfw9E9ynmC3oq1BjbX8WdIFFqpSPy2rOQ5a4Kf4UbzXWDtqdIJE4TxiVaKBiG2U4iVPsCiS
87gTLR7GVNC8tsDvVHcVMcQhhs7ulClGWY5xq5BAVUog5hIBO7tgJTGNQhYtaEBbONeoMEXuGLgi
f1Kkj5eyIb/t+OIxc9I3hZI6s5hmZsqmn/eS7elzZKImRY4sSEfci0+dWYxPc+TLQNxCs3PB8vi5
AqV04hRhBzB2hkfDpBSQdHQBvdremV8XLXp9CdKrqycwR5Ypo9D5mn3UY0N91fSoHMKzg7agrRrC
vcN4cdGhlac4oXGxDO994Ue899ULrs7yJnPyiLkGIxB1FzD3kbrC1rnTLC67+TIkbLvq4rGDSlUB
VXQZCohMEsTxTUwjDxR9iSPn2POnP0z8uAEDfGFnnJkUPIrYPHL8XIXtcea2lrQ5vkRYImG1Ef7S
So7USeenqm+D4l+NQAcaAY6AAl7wm4N7oP1+3cnP6zzWuy5q58K299bLdOZYvLXQwLpyHw1zWVQz
SCDMFrlmbd+Rs9m/dTzKpi3KvopZN9pCeHXxLih5Nw4jZoSDCi46tEZkDtEw9UF6Q1qB63x+16oA
0uxOqGjy3ekUmIYExWpgLadx4sU66wMyL0yxhwQG3yh5Og4T2QjWpmHVOC2VMKLZjc7H6FNxHJG9
aNg8VROFXxAqDdnIAWZVMbjDJyssRE9OlgQM35no4alMt2ti8t2ZVB4nZ0nOnMyZQ3KGfp7jvblz
YYIK1jxddhnOlCVHfydz4QdE7hCVUjMO70VZmPq0soWoK0dOuHAqH81cg1wbTB6XJruXIxzsWowf
VDgubJs1qyrmWS/+Fq3b98mxF0WwIy6cXYSEJNrrYFlxdoMYZVCOoBzBCtpaXYZlyVdnXA1IdcMH
YloN1TAtByzstMIkbePsGwLVgojyNHTuEIC7QC0+fUjq1QYLA1Jp0W4Bf+jEa0K5uL0KqrssorbB
vAZs4TW+KeAkGEF37LCP7EvBwifLYwdnNUrM/bHECo7ds7B5TvG9sDIUFqBzfQNCeKQJ/GsRNdTy
sXGgS2drj6L+oIIV45TUcFq0r+MZ/FZu46MgJWeYo+YZIC9D2qOumEH6r68KX1UnF4GEZ/fGEbHa
tqoiyahw+t5Iw1qDRnmxOSMC2bf5Hcge4AqQexeKuMUiZJbACrWngO44u75m7lUhwBUe1R2GOHLs
I5gHDZKByTcZBxSJoFxNwqS1nlbF1Xg+lgEex/JxNUt32lPP/OIXz5jPmr+H72fxnp/J6+H7TMjc
VsP3pJKcewcG9CJ89869oySZjUOjL46wvxSezlfm6SwLHJJ2uk7aSU0u5odLXv/3wdPhmGeR7Ohl
AJVwiPHMkD0p5BAxrRBYOl92CFE6G0x3fGKcDdXUE0kWyYDfAxyDzWjhCd0AfnYiVjQ8wjEVuPzi
uUvUT882Fa/4lPK92fsg07vorLHNc48jErP1rG9vVi6idc1X5brmuQJpEfhKHU2lIXFMDVcIFZhT
wy7xEe7awuQMe23GsJkO8zxExQ9xLHAAocRFUAhYDIPT4uqk4h+sttamUMUC5gM+WmubuxG4Jlfb
3PReIOJGzdYxVhKpOKQT07Si6SO/L9Z9nbVNEfwIOEW4KGGBRX4az6p5xHmS2XgenSJlhoWCbwpE
7w+vKIjVzb+vPaXeCzQ0wIyNk8qrEugIUWaW4o09vKO7zqoPyPOX0zF+dyB3Ua7V/KP5x1a4CfC7
Y2nDn5r751yO58yf5nLKCSnixZXaPlqOEZilItepO5OZEYzw8vyee2yZ0TaA3O+qjSD57BhU4NVB
tJAk/75qNilSNeDwpBlC0oUIhmzH5QpLCSAT2BGfe5xPF8zwIchCIdZAYBq4ycrjwLtEHKjLOFBE
EBbtetSKNxBLFvFGwweuy0Vqh9UOECgY4xOhlAwnBDKQtzQ3Lp1xkRTXDBX4NCXYaE35NIg0Anoy
T4K5WAhDinxoDElyD0KBcv7tEvwL23YvZgs5xtA+ijntdVkZ1bCy+LlWmhmpmQQE7CQg5EkCVBk7
iCxA2VIwr6F0uIiUQzQRQofkwiCAbwm2W+Aq/jJcBddTMN500E+rqqUcTalYcotjQ9zV4AYTrYIN
Sy9wHIGSABSD7nU4rFxx0F5aTX6MT8N8TFwydyqBeoipoCn3zAufptjoz8SqmLWw415pqRX0VJdb
1V5DIDVTs1hPE8OO4YuS1II5OfumVadyjeTp/bV5Ok7rdmJlM2gjO8fCURkRhKvm2A6s/gEsjpcB
6oLFlIKh1QhJHtOilrrLZrIbu/paNfTUGpNScuPoCyCncjoix56Mi3Bd4lUHCC2HYPkasnU4I4oL
pzJYr4N0CHehlCr9vR31gusUUJVwQhiE896ZxViGy5T5leY18rlBrHAxakb87uepmUG0bFl8plyd
EI/943cENMNd65/X18apaoVEkWPDqTAg87N6kURWQaziNmL1yM2895bN1y4Gin9gnkerjwf4HvMq
f+EiMwQ3kKJ4MUFvzc8CeLmYSfzTmcV2bE++9QZhz1VZN6vLikmMk0IyTnL7Uek2I7UzeSeMq0Aq
hLPzxvcuYAruleddyJR5nTmJYmY5VxA4mZuRL/qw2FTkI8GmXMQ52BTRd/zYVOSjw6YwsQZTw6fd
tjOKucRHjE1FvDMerqIrlX71A4Aq5K4bqKIx+BIwhgZ2N5ptNwKD9jAeFVUs9TbCj5Fgorblj2FD
bCHL71QyOBmgYIvwAf6Se3kYLX9e9dp9rLost/qzTeYkZH62Z7Xw6DYYG9WyGR79XlBqvS4U+Khc
WDCvxdWRSak3HOZ+40eMAUWOCwNK2hjQUE0MSM1cdhCjjx5eOMh7DzEn9kiIdTKfncv5ymy3tIOR
qsrM7fkznMKFJGVxMQG/FCmHIwv0mhmkpToHEyK9Pl5MKFLbHx81JqRtwJx6didwaJcLEyKZObkm
ByqqBRxMyFrakXgQVx7la12AENyr7UeewW7L/MbxYUIRr5uoMBqRjwYTslhEAITEhIDuOLvagwlF
vJhQ5HgxoVpIkJGykKCR7jIkaFJ8ExIka8fV9pkZcCobzachEJqBaXiab7Ts9j7i+921MSCB/rhz
oQXxnwVYL2cr/AGVzLptxH2VgJCw4BYgVHQDQk5eVIkHRY4JD/LZeFCnMLJYDjvbBDeQU+4EI/vS
WZ9KH0Q46B/O2tHykswfBL4SZWvEml/YFa3i+kZY1KajAeYSX3HKnfy2wouA00gR/JO1y+tpoaEg
CuyBB4W5U7F7/WGRO5mv8V4Dy+BTrjXdCdrTxO0VYgyGDeMPryB65KFXlTYPK/MCcuU9QLPMRJGr
YdMraooNO+CQOQluyYnnYyPdsnS/UBQ0Y/H+tiKokfJ8gZZ3RX3Zw8rzymMwTwmMDutkXYJY5cDC
PSzXGm7jjSM4H1m9j3flcrn7N8G3eOEv5r6Sa43At3xlVl0NrbtizhDHSrqAvRYakAhJoCyfrABs
3dG2JjEkoZVe4IaPZJKdcLlRB+W2QcgutsMPrFa28Aelc2zsyNgY3+OUsqDtAOvxPr9D7NNQ5X4y
VmFH+wfyaj52aWGG32FeK+NApZPfKfYtigxOk6CclcUJ/FGjQIKQyClWbfmiHFPpHxiBjvAqFGbu
hv6wQy56ZWKXgy9O+wKw+uYJ4aucHq04Tptap7IdqMmj63D7Id5YmSTabv8UNfvF+zvoxoqmKzxb
sHrNbUWeZC/EKCVrMUZYr0BJ7FCwLlr2wX+i8lFc5O/m57Tf8e/4joDctAl9iFk6xF2JJ9re+GAb
4ZQglRFCKtfw4UNh42ktlmsIXx4KXlEPN76/M3xHAr9paLg2GLy2oeE3AXzOk+wRZY3ahHun3FWl
FriqirqJcZE64f4Mnk+q8WT2SX5x/8sv9/M3+Ko+8z3zvT6cDYi5Zqx9Pl75ce/zaeZ5daZAu3yu
PZa/iwtRkH8ochDtLGWj1K/1QvYcefPbiaiQu6PbyQoxrQ8uft5MwUwBmWfxu0CF8Af1t1HptPbo
HqusL9hvvEzWtU1uYUf79KSyTQNfxrai5Q7BZKxbVLGf73S4NsP1abi+BNctcI3B9Qhcz8L1D2j0
R9f52Gtw809oTkYJ9fbT3PLBVGMyYejZju6uoRUjw3z5Leeff8Hmm28577zzz9cC20e/cN320W3b
vvilbaPWHh5tnzJeuYcHrA/M7pGzlXHc/4Wf0x+u9Tl97fvb5OcuY4/w90gWW0ROoNhLFFqJjZNw
Ip0j2aG4OpTnd5MEXvxIHw/wQJ95kGH0I74UnWxv+Z7qS7wVZ1bVrFKxp7rCR1eUyLgXuCsrg/ly
80d8GaQ9Z2FECbIz6ewHIX8QtmryNJuagO0DKjZ4uGvyglVq8gwnJ7PqX5yKvCYqarUL8tz1cFil
u1Y53eiAp6bY6SJKCFl7RXWQLR1kSwfZ0mmzZYjiEr9YklHtqlORWVGVPAaCK4bzgyBIIEddna57
fv7akRPXrV21aq35t9advq9/3br+gbVrB+Qr2vXt84f1Xt+zbBEbYefyyDjLsARM/ARbD0xZSTGB
ny2zNCADVGaAygxQmQENyIAGZEADMqABGdCADGhABjQgAxqQAQ3IWBqQAQ3IgAbALz+Dx/0KLvhl
EYxqGWuGawlcq+D6JFxb4boSruvhuhWue+F6HK7n4DoEFzwyCbSsB1rWAy3rgZb1QMt6oGU90LIe
aFkPtKwHWtazAHb5N3DzX+BSRoX1OA+tbDfEMmoPauQQDfiTMEObKM45Ge7WyYp3LdWYauXJhGLo
WrZjcXeXMrSiYWS1yuu5oScT+GZ+cHhkNR9a0b2cw79sh66CPucHU0ZXtgM+05hqzA+OpPRu0HT1
jHt54spLhk9If/byz5i/+e595u8/e/mVV16W/+ptY+bVvevTw5+77JLDX7/pnYsvu2pl+syBi//l
xpt++4Xdu18ufefrhRt2nX0OP+fsXTft+PrYKy/fvtv37PV/cdmtp9367+40//DZq7745as+w/W7
9nD/Z4YvOLnNfHfpFWu+dvud731q2+i2P7/4/dtv/fraq5Zv2759bvx/7d79jds3nvtnX7v17LM3
3vEN/le7SXf/qG1Q99Au5E5PfOS43W5s6BbxQmzFCB8WGwISYkdANwcZrNKYUk7I5cz5cJjzXG7u
n1P83YqW/24v9P0qlA79Sqz0fTvWWr2ZdufRnkYFAXncoeCW47VsA+8pl+TTaWLPpHT236ZM72fr
QTJXluBpTwCR4yiFKOh1cNMM1xK4VsH1Sbi2wnUlXNfDdStc98IVGB0HoU0wv9gvBM/aVE3Kz4C5
XkPMWAV3p34IKY9Dy9CKrh7OcYs+5KDtsYRxXAL+wszwqpHhWeX0l3/y0NP8Fr7qb45PtM3mgYFl
fXNL+HXmHep/MOf/foWIW05Wb1TuIWy+jf3v/ayd4hbiMyOPLPnMgM8M+MyANQz4zIDPDPjMgM8M
+MyAzwz4DE8A7qbxLIY+DEKNabJHfpAjP8iRH+TID3LkBznygxz5QY78IEd+kCO/ZY/8YI/8ZI8w
ek1Q7JKpsrtvgvZKNdmb+TRrc76GjSwH10o6WwBdQbcwOAkyOMOqJ8JQmleuXH3KiatWnXjK6pUr
n3KHG0+e2wdf557TDz/5DZWxh57hHcZqIAVjiqBcCISYotEOgPODvx1s/kE40dOg/dAfjhj5xen/
Fo/PB0WuY74NGlJgScbiwyPD3V3GcHdKN1KtqlGvtvcvWrwkt+bUE390al9dY3uD4venu/vM6cZF
69rbVv44s4OfrBqt3ctTjR0NXMah1WxVRc4gN7eQrerUxVagFWIvUIojZ3i1RmVRLsd5OGzOU2VB
6si75b8rHmtkfjaWbo2Zf1G12bVnBWsBz8RqPF0Wqbvx8aiNLldmpigBXCKSDfbmNp7MdEDanSd4
e3Ao1o2LHFvNqxGdKszu5HcVOYZB2saXDsqSvYN8eYHiIrn/xDhR5smdrNbak4NQI+LUPYK5rox5
sti9qhdmCvwrVoUg1W4X9bVjhSM38ekjZ+OeF1FiW9ZnxN1nRWLnQJZiFcfdH08ZWVrZd3WnPAQ0
KM+X92ecWBhz9WlQxNXJqtRkeGob8NSZ7BrexrNxT9/KhWN4rMhY4T96hnvfRdg8+zXPiG0+66+A
EGag93E8WAWPX4HXqDgGBSthM/Z+AZSEjKvQpjUqgL+gvBdr0Hj/HGuhv8LWjpL4Kzw7pgXPjLGt
SDMOq9kV2crNos7AW7ChRdTwhUFY0UF0grS1yb1ieCwMSRtpymqeagT1Re9ez7u7dO7Z98Tbc7lN
923adP8meL1/06b7zG+Vb4XSzwwtTXSFmvREQm9ybt//XsUeKU3OXQfJyyLwYhvEKStpoizt2iGf
tnMLiqM7YIAdYIU7wAp3gF0EgxW3y/vjdOZOFcGqEUVXCNs3K6Nqr+xVibLdOofS38/PnWC99rlC
4EHIwk+wdvtcoW65Q/j4vdSH8Um9dOrJOBjYJoonxtlieGY7RRZReR5RN7wO2rJWcexQxcZkecqQ
07AYGxa7GnLYkHOJZy829ArxTOPOzh4xmUvt84hEQXesVOn9SH+7hOfLS09oWNKKSZvyPzs7lyzt
hK+lSzo7n8NJNs/xayMjI1svXDmyUvfzaFFsoynqXxhqg6+hYfxpft4Mqe26cdKmjaecsvqUDWeu
9utSeEEAZOUZMz4HNv8E1orxRlsfnsSDplWXyw2LoqKuG/f/t7lsQZI+kS7VrGasKIKtKMutUPqy
wq1yvzgB9HHgKApcwFYSpwrF2dJp0JZOHIYV+BCCsZrL3FeAoKdYy+5UzfZucyqQCMrNYeYkwaFY
RFlUl15FO+heVzm3liug+RAxECudBD79NuXuHWwL6oUOY3JwqjQOIb3QLhC3qUtH8bwra/N7O91l
QGQyVgjSLYKS1Xwk66rFUtYu73ACkmYRptTHtLcQ1MWy+APhHicyCYp4ZdknW6w9Y+K8N8IgpN7/
aXYGxtFTl+8OfBJ9pGeHoHp4rPDx0Ade3EPfmVXo094CH+6mL/WnoS9oRQAeGrn0/xV0foICAHv9
AXyW8Fj3oUVDWYVX164OeR5JiY74SoNYp8GYp8GYpwn1SZPT9U8f1cDicNMsa2xqD9Hye2L3d2ep
ypTUQpHKWdBXxft5ubG1wvuJWq7tMt48nl2HnSTREM9uBzkR2w9hIigXmP9HPK/oQzxbSKM5ech+
NPQyJp59Pzz7Tnp28LiePWJLkjl5txQf0ccLlszMfwH6GLfjnFGnl3E6oE2cCIK+IeoSigV6nqDj
sML2Kl1cbh9qltM+UnOqYRor51eQ+5p3UuVebBnbfm4Co1gEx+WJiCJ+RM9WPyUitOyHikpFLNp2
NLEomG6e9cahd9plVR8Qglp7Ad35ShTimkRl7iBFUwSQkIhBEoY5EoaM6i6rWsrcDGKFm9ghK6Nj
RkBTeK+Q3ePsQ+ZATh9zv6/sQ+kSMlzeR9PR9iHl1tPPo1KEveO5RQizN9+5W+Q7i2W+I8KH51i2
LN/JuvKdxa58Z7Er31kcRfnAv3JyG3mIpSNFTdjQVC40rTKBwU2F2PEC4uOpd6sQIXWNuwCuhhTN
fNq9adOdw0RBLXJs7QQQ4QfRRu1osWv2KW/JwhCzEKlnIVLPirwlYS89Yj1Ve6naTC2QuLhm7ieV
iu2dxO9W2G3Ofs4/rf5G+wrYJcZHcD0+AmyLcL2PG7gmvwY4t4YPp5TL30inz0+3vPHTRekL0+mf
vpFuOQ9/S7dsTreoO3+Cr9iaPn9RWrbKz7jOwsDdKzGsbGyQq3wNtjRYNWSaXUMW/8AKfLIm9WVV
Yqq1SyAF8+uab9wfcKqSFBkesgtY82ZBlPrgbDr1l/tAj7D+MlFtnb6ZiylBC4QOyzY5/GfCtdi7
ySzfdWzPRMV3nvklzzOl03I/M34UdEpFd57b47gp+9kvuPV7n1y/yrIzMH3wS2yyyS5gIWluBWlu
BWluBWluFdIcgQck5WEkwhokoyIOL6OohkA7FP55VSdlE/ta1fiDE08wxkUEEwtOAgL5Ftkg9I+n
yw4OIZNxlyilfcqBuccKloH1vS4r5PCcS/1ax97RemcAOHKPWEeNkRdM2av7huscl5Q8x8UpoNHs
Ktjm2rm0u9LQjQ97DnlJ2OJuuLYPWAe9NGN1uHXWixB867QXPDSXznspKi/YB77QKUvy0JeE+4yv
J8hb9eFojbLa+YqibUcX+weGJFYZtzEX0JFD/N2CGVIu5EL5CE8sUlWuqM6eO42ylI++b5hmT9+E
I5b3TRmI0/fj5EFXOX2PwyxrzHCdOHqMVEjt81JiIY0eatbJmNGi52RQp052T3VUsa3My7aVoYp4
JDDWYuPC1yKSSMevSjfqrMXLVLvaadGOo22yM+wOmWHXdLSe/W5Y2VUeq+32bIHT9lf1teYz7p1x
li5+S3razY6ndeZL+FyLD4Y8hzu1oP8NlfnfyimsYa68U1oFN/TMbo28Ccb0KNitPj4iMMFeGzFM
yGjbQgw74N3OjwkxHAd5YyxNstSB55R7V7IWqIeVkZzT0I4N7a6GLDZkXSK4BBuWCBFsIlwQl+Tw
aGoUwS48SzyKy9Qkhh5c0CjDBCO8TBoRFnzZDQu+r+kWIBjkQbdYFrVfuEDBHarfwQNDjmDa+678
Q9oGtpi9ImqZRX1zq31mC3qLtGeL8DjwIC09Rgpau7znXkS87mCBbWcV+1Iz2JARHiQNJDbbK4yK
fciLbpfkqnQ4P8yVPMMIsQSKR7tV98FujQQIencBqjdzh2tqe31zKNhcL3ZjONsC8UiGaYtlCny5
twjaeCDwkPDAsESBWK3tqxWFjm4U1MFFVBvgxMI+nwcA9OCD/Jtl4J+5pRIe/DbCf3K7pjlZCQ+6
/BhC62OYDbt3GjYvsHtzHMx91HUq1gl/2n2c3ZjbVu7lfAtzT+9+zoLHZx/HWJs+zrFSjl05VnO8
2mAp8rbG+nMYa5r9D8Qw3GNtWXCsKTnWcfDL7lG31sZMPlo2IAlh1ixJEHc1WGNlDNXYc7WFD3hZ
9H9l5OKcffg68KkdnNnPxV5fcRaudTq84I613BCU/z9GRu4j62Z+aZGWe6OWBdaWPlqGWRGPKmox
WqHvVog6WtlK+R81LC3VEq1aCXsVfj5YJWuvkL72Wngr6B1ioq3C4yhVT3HvH6C1Wze8ittktb2o
wBJblc9ZKnZGGa6dUfikWs90w6r4SN8TIpYWmCroCWKqXaJCX7cr9MNVTtOSz6sCpdJzT3JkS2Cp
dGYrYqnXi6dHrQrLAEQ2AYhsAhDZBGiWogQsoThh5y1TNUtCpbBQg0E+Q858GGY+DDMfhpkP0zMR
ZyWCjw1npbF8rkYMuM+3mjC1BzD6FuuJHUdVQdDmQtTaXIhaWxRjevyrClw28q+Iy1arD5BpvTZe
Nco/srx8H6xq+5SPAJfFGA3CEtoJCrrkwWWPtY/quKynDw8uS3pQhss6J/IeOy7rHc9/LcNlpQz9
aXDZyL8WLtvhxWXXunHZWlL0nnvDsmbnih87LvvTSkPgncTvVqnZZjwGsfBL0s6dg3bOTxkurSlq
GMxDeqRBuqeRTdLkpAXIaDD3uqG1WFT2X7vEynG4WJmfmm3iOy1ibaJ3IVpkQW9zF7lplXvyPhy+
G/kw+G7EbPki/6WD7wKLL9nMvzdnCqlwYbGg88eJ72obnJ2h5fju0T6zEt91P7Mc36Vnfih81/3s
cnwX9OJjxXe3V3OODrFV8V3cxwo8OWZ817ymoGyRC2gb3PjudYIf9NxvyfX8U7AS03BVoGGOrPaV
qZPVc5Uldy8lNRhRSd3PqjLEIdb3dmXBmTzTg87ar32mR2SBMz3ouBT8jPY7/oi1L67eeo6AnWP2
lpQg7ovrOonj1rg19B97RTgWHid8DblY/RXB0OVhuNGeNsL1hu9tZ1dcgOqD187/Wkn4nsT/rxDP
DamTyDliIb4p2sVknepv8Dz/oXLj+XPfSPhenFmN41S2qIfp/2oIM68Ro/8yYJfcDjQ/b/0/CwrK
b/n+pb/C3y064Pcpz/u/9vz+L4z9f8ZU+xJ42mNgYAiDwkkMRxgTmDKYPZgPMT9g4WIxYUljmcNy
huURKxOrBGsa6xTWT2wObJPYPrBHsPew/+NI4ZjD8YRTgNOKM41zD5cB1xSub9wG3HXcJ3g4eIp4
LvH84NXibeHdxCfAl8C3jp+Lv4X/h0CUwASBO4JCgnmC14QshMqEdgidExYQthMOAsJNIhIiQSJb
ROVE40QviKmJBYnVid0RZxCPE18n/kciTuKMxC/JGMlZks+kZKQqpG5IO0jXSe+RviYjIuMgM01m
k8w72TgwnCC7TfaS7Ac5DbkUuXVyh+SugeEPeQZ5DyCcAIe3FO4p3FM0A0I7JR8gfAOByjxQaAKG
XVB4RYVPxUOlQ1VNtU+tRV1NvUv9loaWRoMmj6aVZobmLM1vmt+00rRmaJ3SZtDu0H6hI6WTpzND
55DOB10f3Qog/KCnp5ejt0XfTn+FQY+hnuEkIw6jOmMh4yPGL0yETBxMVpmsMjUyTTGdZnrGLMRs
izmXeZx5h/km8wcWNhYZQHjM4pWlDAq0woABGDDCMsEyw7LAsgIALM+Pk3jadZJPaxNBGMaf3f5v
Q0Eqoqjw4kEQ28222FAaREJpCSW9xNKDeNkm083QzW6ZnXQJgjcP4tm71+IH8ewn8Ht48p3Ja9tI
zctsfvP+eeaZTQA8DJ4jwOQT8ZpwgHneTTjEAl4Jz+AemsKzWEVHeA4v8U54nuOT8CKW8UV4CSv4
KryMN/gmvILH+CVcwyP85lOC2SXevQ/WhAPUgkI4xGrwQXgGz4LPwrN4EnwXnsNJ8EN4HrXwqfAi
7ocvhJfwIHwtvIyP4VvhFTTCn8I1bM0stM6TcqDpivb7dKSM0dZGtBXHOxG1soy6Oh3YkrqqVOZS
9SfdXZWOssRsRnEcN9sdouYkL1pSPlGm1EVOro0OR9mYNuN1L71OOtdWJxkZlamkVJPBNp+10SlS
3bvxQscDXdJZkVuqkpJ6RiVW9WlU6jylA07vuUxhaDtq0JkphnSjEvWK4cDai916vaqqyKr8dGwr
lduxq9RvlVR/KFd3BbRwjgQlBtAgXPHaR5+fR1AwHBqWI+LMFmKOHc8tZByELtdTnrWs4HaKv93c
JT/7U9qulmLEUwnXN1kl9tFEm/98xNGc6p/2NT194s8ouVIg5+pfNcKh7xn7XIz1W64da+5299Gs
4twb1sl4Jd717RPbcq8N9lYwafTufC+EY9/vbn/m3bhc5XWIZ4xXt/5tEHsrvYeU+UC69657CibC
Nt+l4dUMZ4ZMd3mJeLnqwLu4wC7qHJWPyJ+X45Tfg+W98ueMr2fq/5lyHof//Ooy8QdQD82xAAAA
eNpt0GmQzgUABvDff/e1h2PtlisScmxyvftuiyWJPUJrddhcORZLb7HYtUoUUgrVkLvBkJqiqWbK
0TTuGPc17iv6VqHMFD6G3fej58vvy/N8ecSpzP/plnpQ/iWIEydeSDUJEiVJVl0NNdWSorZUaR7y
sDrqqqe+Bh7RUCOPauwxTTTVzOOaa6GlVtI9obUntdFWO+11EJYhItNTsnTUSWfZuujqad08o7tn
9dBTjlx58j2nl976eF6Bvgr184IXveRl/RV5xQADDTLYEK8aapjhRigO4u2x17fes9s52222xUab
fOhHPznvYzuCkHXe94Ft9574wxyfmm+V9b4MqpnngtkWBQlBok8s85Ff/RYkWW2DW/5z2xe+c8A+
3xtplAVGO6TEfgcdc9gRR/1pjJOOO+EHY9200BmnnPaaa26Y63VRbxhvnFJrTDDJRGXKVZhsijf9
5S1vm2qad0z3s7VmeNdMs1z3t1+c9XuQ7KJLLrvqiq3uBNWDGkFNy33jcyv84yufWelriy0JagUp
Qe0gNUiz065QYVFBQSivomxCYkVpNBzuEY6ZW2XPSMzMmNmVRnKyQ+OiZcUJE0vKSyYXJxePiUY7
ZmRmVbbzw+GMmFXrzE55941EMrJjZt0FhU2MyA==) format('woff'), url('Akashi.ttf')  format('truetype'), url('Akashi.svg#Akashi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nevis-Bold';
  src: url('nevis-Bold.eot?#iefix') format('embedded-opentype'),  url('nevis-Bold.woff') format('woff'), url('nevis-Bold.ttf')  format('truetype'), url('nevis-Bold.svg#nevis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.button{
	
}

.form-control{
	width: 150px;
	height:50px;
	font-size: 25px;
	font-color:#ffffff;
	font-family: 'Titillium Web', sans-serif;
	background:#dddddd;
	border:solid 3px #333333;
}
.form-control:focus{
	border:solid 3px #FF8400;
}

.form-inline{
	margin-bottom: 10px;
	margin-left: 45px;
}

.play{


	
background:#096700;
	border:solid 3px #003800;
}
.play:hover{
	
	background:#007A00;
	border:solid 3px #003D00;
}
.play:active{
	background:none; !important
	border:none; !important
}
.play:focus{
	background:#096700;
	border:solid 3px #003800;
}
.pause{
	
	
	background:#B39500;
	border:solid 3px #FFD500;
}
.pause:hover{
	
	background:#BB9A00;
	border:solid 3px #FFCC00;
}
.pause:active{
	background:none; !important
	border:none; !important
}
.pause:focus{
	background:#B39500;
	border:solid 3px #FFD500;
}
.stop{
	margin-left: 3px;
	
background:#660000;
	border:solid 3px #aa0000;
}
.stop:hover{
	
	background:#880000;
	border:solid 3px #ba0000;
}
.stop:active{
	background:none; !important
	border:none; !important
}
.stop:focus{
	background:#660000;
	border:solid 3px #aa0000;
}
a > span{
	color: #111111;
}
#TempoUp{
	margin-left: 30px;
	

}
#Tempo{
	width: 90px;
	height: 50px;
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	color: black;
	border-radius: 5px;
	font-size : 22px;
	text-align: center;
	margin-left:10px;

}
#Clear{
	width: 100px;
	height: 50px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 19px;
	margin-left: 15px;
}
#beat{
	margin-top: 20px;
	font-size : 24px;
	font-family: Akashi;
	color: black;
}

.track_off{
	width: 50px;
	height:50px;
	background:#999999;
	border:solid 3px #333333;
	
}
.track_off:hover{
	
	border:solid 3px #FFB700;
}
.track_on{
	width: 50px;
	height:50px;
	background:#333333; 
	border:solid 3px #111111; 
}
.track_on:hover{
	
	
	border:solid 3px #FF0062;
}
.timeline_off{
	width: 50px;
	height: 2px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background:#999999;
	border:solid 3px #333333;
}

.timeline_on{
	border-radius: 5px;
	width: 50px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background:  #AE4E00;
	border:solid 3px #800000;
}
.track_timeline_on{
	width: 50px;
	height:50px;
	background:  #AE4E00;
	border:solid 3px #800000;
}

#TL1{
	margin-left: 268px;
}
body{
	background: #323332;
}
.track{
    background: #545445;
    width: 1150px;
    height: 2000px; 
	
	margin: auto;
}


/*
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default.focus,
.btn.btn-default:active
.btn.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: none;!important;
  background-color: none !important;
  border-color: none;!important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: none;!important;
  background-color: none !important;
  border-color: none;!important;
}
*/

.modal-header {
	background: #FF9000;
}

.modal-body {
	background:#777;
}
